<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
       <package name="com.ssafy.happyhouse.dto"/>
    </typeAliases>
	<mappers>	  
		<mapper resource="mappers/HouseDeal.xml" />
		<mapper resource="mappers/HouseInfo.xml" />
		<mapper resource="mappers/Member.xml" />
		<mapper resource="mappers/QnA.xml"/>
		<mapper resource="mappers/Shop.xml"/> 
		<mapper resource="mappers/Myarea.xml"/> 
	</mappers>
</configuration>


